<div class="row p-0 h-100 align-items-center">
  <div class="col-md-6 col-12">
    <p class="bubble mb-5">hi there!</p>
    <h1>Lars Bischhausen</h1>
    <h4 class="text-uppercase">Software Engineer</h4>
    <p class="mt-4">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.
    </p>
  </div>
  <div class="col-md-6 col-12 text-center">
    <img src="https://placehold.co/550x550" class="img-fluid" />
  </div>
</div>
