<div class="row p-0 min-vh-90 align-items-center mt-5 mt-md-0">
  <div class="col-md-6 col-12">
    <p class="bubble mb-5">hi there!</p>
    <h1>Lars Bischhausen</h1>
    <ngx-typed-js [strings]="['Software Engineer', 'Student', 'Sports enthusiast', 'Scrum master']" [typeSpeed]="70" [backSpeed]="45" [backDelay]="4000" [loop]="true">
       <h4 class="d-inline-block text-uppercase" >I am a <span class="typing typing-background"></span></h4>
    </ngx-typed-js>
    <p class="mt-4 content">
      I'm a software engineer based in Bern, Switzerland, deeply passionate about technology. Currently, I'm a student
      pursuing a Bachelor's degree in Business Information Technology at the University of Applied Science in Bern. This
      dual focus on education and practical experience empowers me to craft innovative solutions, bridging the gap
      between technology and business in our ever-evolving digital world.
    </p>

    <div class="circle mt-5 mb-2">
      <div class="circle2">
        <p class="m-0 p-0">let's</p>
        <p class="m-0 p-0 ps-3">talk</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <img src="assets/headerimg.png" class="img-fluid" />
  </div>
</div>