<footer>
  <div class="mx-auto container py-16 px-4 pt-5">
    <div class="row pt-5 pb-5">
      <div class="col-12 col-md-4">
        <h4 class="text-uppercase">follow me</h4>
        <p class="content">
          I'm always open to discussing web development projects and
          opportunities, so please feel free to reach out if you'd like to
          connect or collaborate.
        </p>
        <div class="icons text-center">
          <a href="https://github.com/Laars1" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
          <a href="https://www.instagram.com/lars.bischhausen/" target="_blank"
            ><i class="bi bi-instagram"></i
          ></a>
          <a href="https://x.com/laars_z"
            ><i class="bi bi-twitter-x" target="_blank"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/lars-bischhausen/"
            target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-12 col-md-5 offset-md-1">
        <h5 class="text-uppercase">contact me</h5>
        <p>
          Feel free to send me an email if you prefer the classic way of
          communication, and I'll be happy to respond to your messages promptly.
        </p>
        <a class="btn btn-secondary text-uppercase" href="mailto:lars.bischhausen@gmail.com">Send me an email!</a>
      </div>
      <div class="col-12 col-md-2">
        <p>Copyright © 2021 Lars Bischhausen</p>
        <p>All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
