<div class="row">
  <div class="col-md-4 col-12 mt-1" *ngFor="let item of data">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <div class="row p-0 m-0">
            <div class="p-0 m-0" [ngClass]="item.forked ? 'col-6' : 'col-9' ">
              <a href="{{ item.url }}" class="card-link" target="_blank"
                >{{ item.fullname }}
              </a>
            </div>
            <div class="col-3 p-0 m-0" *ngIf="item.forked">
              <div class="type float-end">
                <i class="bi bi-sign-intersection-y"></i>
                fork
              </div>
            </div>
            <div class="col-3 p-0 m-0">
              <div class="type float-end">
                <i class="bi bi-check-circle"></i>
                public
              </div>
            </div>
          </div>
        </h5>
        <p class="card-text">
          {{ item.description }}
        </p>
        <app-tag-item
          *ngFor="let tag of item.tags"
          [tag]="tag"
          [spacing]="'p-1 mb-1 me-1'"
        ></app-tag-item>
      </div>
      <div class="card-footer">
        <a
          href="{{ item.homepage }}"
          target="_blank"
          class="btn btn-primary"
          *ngIf="item.homepage"
          >Open Application</a
        >
      </div>
    </div>
  </div>
</div>
