ul.navbar-nav > li > a{
    padding: 0 20px;
}


body{
    --navbar-border-bottom: none; 
}

nav.navbar {
    background-color: var(--background-primary);
    border-bottom: var(--navbar-border-bottom);
    // font-weight: bold;
}
