<app-navbar></app-navbar>
  <div>
    <main role="main">
      <app-portfolio-section [alternativeColor]="false">
        <app-home></app-home>
      </app-portfolio-section>
      <app-portfolio-section [alternativeColor]="true">
        <app-about></app-about>
      </app-portfolio-section>
      <app-portfolio-section [alternativeColor]="false"></app-portfolio-section>
      <app-portfolio-section [alternativeColor]="true"></app-portfolio-section>
      <router-outlet></router-outlet>
    </main>
  </div>
<footer>
</footer>