<div class="p-0">
  <app-section-header
    [title]="'about me'"
    [teaser]="
      'Dive into my world through my portfolio and get to know me better.'
    "
  ></app-section-header>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <h3 class="text-uppercase">Get to know me!</h3>
      <p class="content">
        I'm a 23-year-old individual originally from near Bern, Switzerland,
        where I've cultivated a deep appreciation for the tranquility of the
        countryside. My roots have shaped my love for outdoor activities, with
        floorball and skiing being significant parts of my life.<br/> As a dedicated 
        floorball player, I've learned valuable lessons in teamwork and
        perseverance. On the slopes, I embrace the exhilaration of skiing,
        navigating through powdery snow and relishing the crisp mountain air. <br/>
        Beyond my local surroundings, I have a profound love for exploring new
        horizons through travel. Whether immersing myself in the vibrant
        cultures of bustling cities or finding solace in remote destinations, my
        adventures have enriched my understanding of the world. In essence, I am
        someone who finds joy in the simplicity of life, the thrill of sports,
        and the enrichment that comes from experiencing diverse cultures around
        the globe.
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h3 class="text-uppercase">My Skills</h3>
      <app-skill-wrapper [data]="skills"></app-skill-wrapper>
    </div>
  </div>
</div>
