<div class="p-0">
  <app-section-header
    [title]="'about me'"
    [teaser]="
      'Dive into my world through my portfolio and get to know me better.'
    "
  ></app-section-header>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <h3 class="text-uppercase">Get to know me!</h3>
      <p class="content">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
        elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
        est Lorem ipsum dolor sit amet.

        <ngx-typed-js [strings]="['I\’m Programmer', 'IOS/Android Developer']" backDelay=”500" loop=”true”>

          <h1 class=”typing”></h1>
          
          </ngx-typed-js>
    </div>
    <div class="col-12 col-md-6">
      <h3 class="text-uppercase">My Skills</h3>
      <app-skill-wrapper [data]="skills"></app-skill-wrapper>
    </div>
  </div>
</div>
