<div class="p-0">
  <app-section-header
    [title]="'recent work'"
    [teaser]="
      'Get a sneak peek into my world of design and craftsmanship by diving into my latest creations.'
    "
  ></app-section-header>
  <div class="row mt-5">
    <div class="col-12">
      <h3 class="text-uppercase">github contributions</h3>
      <p class="content">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.
      </p>
      <img
        src="https://ghchart.rshah.org/BF3E21/laars1"
        alt="Laars1 Github Chart"
        class="img-fluid w-100"
      />
    </div>
    <div class="col-12 mt-4" *ngIf="data">
      <h3 class="text-uppercase">My personal Github projects</h3>
      <app-project-card [data]="data"></app-project-card>
    </div>
  </div>
</div>
