<div class="p-0 min-vh-100">
  <app-section-header
    [title]="'recent work'"
    [teaser]="
      'Get a sneak peek into my world of design and craftsmanship by diving into my latest creations.'
    "
  ></app-section-header>
  <div class="row mt-5">
    <div class="col-12">
      <h3 class="text-uppercase">github contributions</h3>
      <p class="content">
        A glance at my GitHub activity reveals a strong focus on web
        development, as I continually engage in pushing updates, resolving
        web-related issues, and participating in collaborative efforts to
        elevate the quality and performance of web applications, reflecting my
        commitment to this dynamic and creative field.
      </p>
      <img
        src="https://ghchart.rshah.org/BF3E21/laars1"
        alt="2016rshah's Blue Github Chart"
        class="img-fluid w-100"
      />
    </div>
    <div class="col-12 mt-4">
      <h3 class="text-uppercase">Github projects</h3>
      <app-project-card [data]="data"></app-project-card>
    </div>
  </div>
</div>
