@import "bootstrap/scss/bootstrap";

body{
    --background-primary: #FFF2E1;
    --background-secondary: #756F67;
    --background-tertiary: #36332F;
}

div.row{
    margin-left: 0;
    margin-right: 0;
}