@import "bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

body{
    --background-primary: #F2EDE4;
    --background-secondary: #f8f6f1;
    --background-tertiary: #260101;
    --background-alternative: #BF3E21;
    --background-alternative2: #BF533B;
    --background-alternative3: #733224;
    --font-color: #000;

    color: var(--font-color);
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p{
    font-size: 18px;
}

p.content{
    text-align: justify;
}

div.row{
    margin-left: 0;
    margin-right: 0;
}

$sizes: 10, 20, 30, 40, 50, 60, 70, 80, 90;
@for $i from 1 through length($sizes){
    $value: nth($sizes, $i);
    $viewheight: 1vh * $value;
    .min-vh-#{$value} { 
        min-height: $viewheight!important;
        }
}

// Adapted from https://codepen.io/szpakoli/pen/zYKqoJ
hr.header{
  
    border: 0;
    height: 2px;
    width: 10%;
    position: relative;
    margin: 30px auto;
    background: var(--background-alternative);
  }